<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <script src="../static/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <h1 align="center">Заголовок</h1>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 0px">
            <div class="card card-body bg-light" align="center">
                <span class="tag tag-default">left</span>
            </div>
        </div>
        <div class="col-8" style="padding: 0px">
            <div class="card card-body bg-light" align="center" >
                This is CENTER!
            </div>
        </div>
        <div class="col-2" style="padding: 0px">
            <div class="card card-body bg-light" align="center">
                Right
            </div>
        </div>
    </div>
</div>
</body>
</html>